<div class="modal-header">
    <h2>Add Flashcard</h2>
    <fa-icon [icon]="faRectangleXmark" (click)="onClose()" class="close-icon"></fa-icon>
</div>
<div class="modal-body">
    <div mat-dialog-content>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter term" [(ngModel)]="name">
        </mat-form-field>
    </div>
</div>
<div class="modal-footer">
    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
</div>