mat-dialog-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-form-field {
    width: 100%;
    margin: 0;
}

.mat-form-field-flex {
    width: 100%;
}

.mat-input-element {
    width: 100% !important;
    box-sizing: border-box;
}

mat-label {
    width: 100%;
    max-width: 400px;
    /* Stretch the label */
    text-align: center;
    /* Center-align the label text */
}

/* Remove the scroll bar */
body {
    overflow: hidden;
    /* Prevent scrolling */
}

html {
    overflow: hidden;
    /* Prevent scrolling */
}