<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: space-between;">
    <mat-slide-toggle (change)="toggleDarkMode($event)">Dark Mode</mat-slide-toggle>
    <span class="mat-h1">Glossa</span>
    <span class="button-container" style="flex-shrink: 0;">
      <button mat-button class="sunken-button" (click)="openMenu()">Add Card</button>
      <button mat-button class="sunken-button">Add Deck</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<body>
  <mat-grid-list cols="5" rowHeight="220px" gutterSize="1px">
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck1"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck2"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck3"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck4"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck5"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck6"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck7"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck8"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck9"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck10"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck11"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck12"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck13"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck14"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck15"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck16"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck17"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck18"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck19"></card-deck>
    </mat-grid-tile>
    <mat-grid-tile>
      <card-deck class="large-card-deck" [deck]="deck20"></card-deck>
    </mat-grid-tile>
  </mat-grid-list>
</body>
<router-outlet></router-outlet>