<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: space-between;">
    <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
      <span style="flex-grow: 1; text-align: center;" class="mat-h1">Glossa</span>
      <span class="button-container" style="flex-shrink: 0;">
        <button mat-button class="sunken-button">Add Deck</button>
        <button mat-button class="sunken-button">Add Card</button>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<body>
  <mat-grid-list cols="5" rowHeight="220px" gutterSize="20px">
    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>
  </mat-grid-list>
</body>
<router-outlet></router-outlet>