<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: center;">
    <span class="mat-h1">Glossa</span>
  </mat-toolbar-row>
</mat-toolbar>
<body>
  <mat-grid-list cols="5" rowHeight="200px" gutterSize="20px">
    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>

    <mat-grid-tile>
      <card-deck class="large-card-deck"></card-deck>
    </mat-grid-tile>
  </mat-grid-list>
</body>