.mat-dialog-content {
  max-height: 300px;
  overflow: auto;
}

.mat-dialog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.dialog-title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.white-background {
  background-color: white;
}

