.center-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button{
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.stacked-card {
  position: relative;
  margin: 20px;
  border-radius: 10px; /* Add border-radius for smooth edges */
  overflow: visible; /* Ensure content doesn't get cut off */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.stacked-card:hover {
  transition: 0.2s ease-in-out;
  translate: 0px -5px 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Smooth shadow on hover */
  z-index: 1;
  opacity: 1;
}
/*asdasd*/

.stacked-card::before,
.stacked-card::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24); /* Lighter shadow */
  transform: rotate(-5deg); /* More pronounced rotation for a sloppy effect */
  z-index: -1;
  border-radius: 10px; /* Add border-radius for smooth edges */
}

.stacked-card::after {
  top: 20px;
  left: 20px;
  transform: rotate(5deg); /* More pronounced rotation for a sloppy effect */
  z-index: -2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  border-radius: 10px; /* Add border-radius for smooth edges */
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.rename-form{
  z-index: 1000;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .stacked-card {
    margin: 10px;
  }

  .stacked-card::before,
  .stacked-card::after {
    top: 5px;
    left: 5px;
  }

  .stacked-card::after {
    top: 10px;
    left: 10px;
  }

  
}
