.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.stacked-card {
  position: relative;
  margin: 20px;
  border-radius: 10px; /* Add border-radius for smooth edges */
  overflow: visible; /* Ensure content doesn't get cut off */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.stacked-card:hover {
  transform: translateY(-10px); /* Slight lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Smooth shadow on hover */
}

.stacked-card::before,
.stacked-card::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24); /* Lighter shadow */
  transform: rotate(-5deg); /* More pronounced rotation for a sloppy effect */
  z-index: -1;
  border-radius: 10px; /* Add border-radius for smooth edges */
}

.stacked-card::after {
  top: 20px;
  left: 20px;
  transform: rotate(5deg); /* More pronounced rotation for a sloppy effect */
  z-index: -2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  border-radius: 10px; /* Add border-radius for smooth edges */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .stacked-card {
    margin: 10px;
  }

  .stacked-card::before,
  .stacked-card::after {
    top: 5px;
    left: 5px;
  }

  .stacked-card::after {
    top: 10px;
    left: 10px;
  }

  
}
