/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sunken-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #333;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.sunken-button:hover {
  background-color: #e0e0e0;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.sunken-button:active {
  background-color: #d0d0d0;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

body.dark-mode {
  background-color: #121212;
  /* Darker background for the page */

}

body.dark-mode .mat-card {
  background-color: #2a2a2a;
  /* Brighter background for cards */

}

body.dark-mode .mat-toolbar {
  background-color: #333333;
  color: #ffffff;
}


body.dark-mode.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}


/* Dark mode styles for stacked cards */
body.dark-mode .stacked-card {
  background-color: #1d1d1d;
  /* Brighter background for stacked cards */
  color: #f0f0f0;
  /* Lighter text color */

  position: relative;
  /* Ensure the card is positioned correctly */
  margin: 20px;
  /* Add margin for spacing */
  border-radius: 10px;
  /* Add border-radius for smooth edges */
  overflow: visible;
  /* Ensure content doesn't get cut off */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition */

}


body.dark-mode .stacked-card::before,
body.dark-mode .stacked-card::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: rgba(42, 42, 42, 0.8);
  /* Brighter background for pseudo-elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Darker shadow */
  transform: rotate(-5deg);
  /* More pronounced rotation for a sloppy effect */
  z-index: -1;
  /* Ensure they are behind the main card */
  border-radius: 10px;
  /* Add border-radius for smooth edges */
}

body.dark-mode .stacked-card::after {
  top: 20px;
  left: 20px;
  transform: rotate(5deg);
  /* More pronounced rotation for a sloppy effect */
  z-index: -2;
  /* Ensure they are behind the main card */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  /* Darker shadow */
  border-radius: 10px;
  /* Add border-radius for smooth edges */
}

@media (max-width: 768px) {
  .stacked-card {
    margin: 10px;
  }

  .stacked-card::before,
  .stacked-card::after {
    top: 5px;
    left: 5px;
  }

  .stacked-card::after {
    top: 10px;
    left: 10px;
  }

  /*errmm what the sigma*/

}