<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{this.song.title}}</mat-card-title>
        <mat-card-subtitle>{{this.song.artist}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{this.song.image}}" alt="Photo of a Shiba Inu" class="img-container">
    <mat-card-content>
        <p></p>
    </mat-card-content>
    <mat-card-actions >
        <button mat-flat-button (click)="openDialog()">Open</button>
    </mat-card-actions>
</mat-card>