<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{this.song.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="img-container">
    <mat-card-content>
        <p></p>
    </mat-card-content>
    <mat-card-actions >
        <button mat-flat-button>Open</button>
    </mat-card-actions>
</mat-card>