<h1 mat-dialog-title>
    {{ data.song.title }}
</h1>
<fa-icon [icon]="faRectangleXmark" (click)="onClose()" class="close-icon"></fa-icon>
<div class="toggle-container">
    <mat-slide-toggle (change)="toggleTranslation()">Toggle English</mat-slide-toggle>
</div>
<mat-dialog-content class="mat-typography">
    <div class="modal-header">

    </div>
    <div class="modal-content" matTooltip="Try highlighting the text!">
        <div *ngIf="!showEnglishTranslation">
            <ng-container class="mat-typography" *ngFor="let verse of data.song.spanishLyrics; let i = index">
                <p class="indent" *ngIf="verse.startsWith('[') && i !== 0"> </p>
                <h3 *ngIf="verse.startsWith('[')">{{ verse }} </h3>
                <p *ngIf="!verse.startsWith('[')">{{ verse }}</p>
            </ng-container>
        </div>
        <div *ngIf="showEnglishTranslation">
            <ng-container *ngFor="let verse of data.song.spanishLyrics; let i = index"> 
                <p class="indent" *ngIf="verse.startsWith('[') && i !== 0"></p>
                <h3 *ngIf="verse.startsWith('[')">{{ verse }}</h3>
                <p *ngIf="!verse.startsWith('[')">{{ verse }}</p>

                <p class="englishLyric">{{ data.song.englishLyrics[i] }}</p>
            </ng-container>
            <ng-container *ngFor="let verse of data.song.englishLyrics; let i = index">
                
            </ng-container>
        </div>
    </div>
    <button *ngIf="showAddButton" mat-stroked-button class="add-button" [style.left.px]="buttonX" [style.top.px]="buttonY" (click)="addCard()" >Translate</button>
</mat-dialog-content>
